In [1]:
import numpy as np, pandas as pd, os

In [3]:
d0 = 'D:project6 - raw data/'

In [6]:
list_region = os.listdir(d0)
os.listdir(d0)[:5]

['Alberni-Clayoquot.csv',
 'Bulkley-Nechako.csv',
 'Capital.csv',
 'Cariboo.csv',
 'Central Coast.csv']

In [8]:
os.path.join(d0,list_region[3])

'D:project6 - raw data/Cariboo.csv'

In [44]:
non = pd.read_csv(os.path.join(d0,list_region[18]))
non.head()

   year  Units Collected  Weight Collected (Tonnes)
0  2007         32136000                     2441.2
1  2008         34274000                     2823.4
2  2009         35586000                     3309.8
3  2010         34453000                     3574.2
4  2011         33365000                     3319.5

In [10]:
pop = pd.read_csv('D:project6 - raw data/total/population_estimates.csv')
pop.head()

  regional_district  year  population
0  British Columbia  1986     3003621
1  British Columbia  1987     3048651
2  British Columbia  1988     3114761
3  British Columbia  1989     3196725
4  British Columbia  1990     3292111

In [16]:
non.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   measure  22 non-null     object
 1   year     22 non-null     int64
 2   value    22 non-null     float64
dtypes: float64(1), int64(1), object(1)
memory usage: 656.0+ bytes

In [17]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   regional_district  990 non-null    object
 1   year               990 non-null    int64
 2   population         990 non-null    int64
dtypes: int64(2), object(1)
memory usage: 23.3+ KB

In [21]:
pop['regional_district'].value_counts()[:4]

Northern Rockies     33
Squamish-Lillooet    33
Kootenay-Boundary    33
Central Kootenay     33
Name: regional_district, dtype: int64

In [24]:
pop['regional_district'].value_counts().index

Index(['Northern Rockies', 'Squamish-Lillooet', 'Kootenay-Boundary',
       'Central Kootenay', 'Mount Waddington', 'Sunshine Coast',
       'Fraser Valley', 'North Coast', 'Central Coast', 'Kitimat-Stikine',
       'Metro Vancouver', 'Alberni-Clayoquot', 'Stikine', 'Nanaimo',
       'Cowichan Valley', 'Columbia-Shuswap', 'Capital', 'Fraser-Fort George',
       'Okanagan-Similkameen', 'Powell River', 'East Kootenay',
       'British Columbia', 'Peace River', 'Comox Valley', 'North Okanagan',
       'Thompson-Nicola', 'Central Okanagan', 'Cariboo', 'Bulkley-Nechako',
       'Strathcona'],
      dtype='object')

In [34]:
list_region2 = [i.split('.')[0] for i in list_region]
list_region2[:4]

['Alberni-Clayoquot', 'Bulkley-Nechako', 'Capital', 'Cariboo']

In [32]:
sum([1 for i in list_region2 if i in pop['regional_district'].value_counts().index])

26

In [33]:
len(list_region)

30

In [35]:
[i for i in list_region2 if i not in pop['regional_district'].value_counts().index]

['Comox-Strathcona', 'Comox', 'Skeena-Queen Charlotte', 'total']

In [38]:
sorted(pop['regional_district'].unique())

['Alberni-Clayoquot',
 'British Columbia',
 'Bulkley-Nechako',
 'Capital',
 'Cariboo',
 'Central Coast',
 'Central Kootenay',
 'Central Okanagan',
 'Columbia-Shuswap',
 'Comox Valley',
 'Cowichan Valley',
 'East Kootenay',
 'Fraser Valley',
 'Fraser-Fort George',
 'Kitimat-Stikine',
 'Kootenay-Boundary',
 'Metro Vancouver',
 'Mount Waddington',
 'Nanaimo',
 'North Coast',
 'North Okanagan',
 'Northern Rockies',
 'Okanagan-Similkameen',
 'Peace River',
 'Powell River',
 'Squamish-Lillooet',
 'Stikine',
 'Strathcona',
 'Sunshine Coast',
 'Thompson-Nicola']

In [39]:
list_region_name = [i for i in list_region2 if i in pop['regional_district'].value_counts().index]

In [41]:
list_region_name[:4]

['Alberni-Clayoquot', 'Bulkley-Nechako', 'Capital', 'Cariboo']

In [43]:
list_region_csv = [i+'.csv' for i in list_region_name]
list_region_csv[:4]

['Alberni-Clayoquot.csv', 'Bulkley-Nechako.csv', 'Capital.csv', 'Cariboo.csv']

### merging pop data with Nanaimo data

In [49]:
# list of all year availabe in cities files

In [51]:
non_year = pd.read_csv(os.path.join(d0+list_region_csv[16]))['year'].unique()

In [54]:
pop1 = pop[pop['year'].isin(non_year)]
pop1.head(6)

   regional_district  year  population
21  British Columbia  2007     4290984
22  British Columbia  2008     4349336
23  British Columbia  2009     4410506
24  British Columbia  2010     4465546
25  British Columbia  2011     4502104
26  British Columbia  2012     4566769

In [46]:
list_region_name.index('Nanaimo')

16

In [56]:
pop_non = pop1[pop1['regional_district']==list_region_name[16]]
pop_non.head()

    regional_district  year  population
318           Nanaimo  2007      142207
319           Nanaimo  2008      144547
320           Nanaimo  2009      146271
321           Nanaimo  2010      147464
322           Nanaimo  2011      148877

In [57]:
pd.merge(pop_non,pd.read_csv(os.path.join(d0+list_region_csv[16])),on='year' , how='inner')

,regional_district,year,population,Units Collected,Weight Collected (Tonnes)
0,Nanaimo,2007,142207,32136000,2441.2
1,Nanaimo,2008,144547,34274000,2823.4
2,Nanaimo,2009,146271,35586000,3309.8
3,Nanaimo,2010,147464,34453000,3574.2
4,Nanaimo,2011,148877,33365000,3319.5
5,Nanaimo,2012,150017,32918000,3287.6
6,Nanaimo,2013,152158,33033000,3315.6
7,Nanaimo,2014,155118,33487000,-99999.0
8,Nanaimo,2015,158143,35765000,3508.7
9,Nanaimo,2016,162617,35632000,3505.0
10,Nanaimo,2017,164700,36866000,3595.8